body{
  font-family: 'Yatra One', cursive;
 /*  background-image: url(https://bit.ly/2uz4VkJ); */
 background-image: url("https://bit.ly/2xUuL4s");
  background-attachment: fixed;
  background-size: cover;
  

}